[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/email_registration"]
	path = sites/all/modules/email_registration
	url = git://git.drupal.org/project/email_registration.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date.git
[submodule "sites/all/modules/devel_themer"]
	path = sites/all/modules/devel_themer
	url = git://git.drupal.org/project/devel_themer.git
[submodule "sites/all/modules/r4032login"]
	path = sites/all/modules/r4032login
	url = git://git.drupal.org/project/r4032login.git
[submodule "sites/all/modules/logintoboggan"]
	path = sites/all/modules/logintoboggan
	url = git://git.drupal.org/project/logintoboggan.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega.git
[submodule "sites/all/modules/omega_tools"]
	path = sites/all/modules/omega_tools
	url = git://git.drupal.org/project/omega_tools.git
[submodule "sites/all/modules/inline_registration"]
	path = sites/all/modules/inline_registration
	url = http://fisheye.amazeelabs.com/git/inline_registration.git
[submodule "sites/all/modules/views_datasource"]
	path = sites/all/modules/views_datasource
	url = git://git.drupal.org/project/views_datasource.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = git://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/ckeditor"]
	path = sites/all/modules/ckeditor
	url = git://git.drupal.org/project/ckeditor.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = git://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/i18n"]
	path = sites/all/modules/i18n
	url = git://git.drupal.org/project/i18n.git
[submodule "sites/all/modules/variable"]
	path = sites/all/modules/variable
	url = git://git.drupal.org/project/variable.git
[submodule "sites/all/modules/l10n_update"]
	path = sites/all/modules/l10n_update
	url = git://git.drupal.org/project/l10n_update.git
[submodule "sites/all/modules/globalredirect"]
	path = sites/all/modules/globalredirect
	url = git://git.drupal.org/project/globalredirect.git
[submodule "sites/all/modules/masquerade"]
	path = sites/all/modules/masquerade
	url = git://git.drupal.org/project/masquerade.git
