[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = git://git.drupal.org/project/devel.git
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = git://git.drupal.org/project/admin_menu.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = git://git.drupal.org/project/git_deploy.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://git.drupal.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/email_registration"]
	path = sites/all/modules/email_registration
	url = git://git.drupal.org/project/email_registration.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://git.drupal.org/project/date.git
[submodule "sites/all/modules/devel_themer"]
	path = sites/all/modules/devel_themer
	url = git://git.drupal.org/project/devel_themer.git
[submodule "sites/all/modules/r4032login"]
	path = sites/all/modules/r4032login
	url = git://git.drupal.org/project/r4032login.git
[submodule "sites/all/modules/logintoboggan"]
	path = sites/all/modules/logintoboggan
	url = git://git.drupal.org/project/logintoboggan.git
[submodule "sites/all/themes/omega"]
	path = sites/all/themes/omega
	url = git://git.drupal.org/project/omega.git
[submodule "sites/all/modules/omega_tools"]
	path = sites/all/modules/omega_tools
	url = git://git.drupal.org/project/omega_tools.git
[submodule "sites/all/modules/inline_registration"]
	path = sites/all/modules/inline_registration
	url = git://git.drupal.org/project/inline_registration.git
[submodule "sites/all/modules/views_datasource"]
	path = sites/all/modules/views_datasource
	url = git://git.drupal.org/project/views_datasource.git
